In [1]:
import pandas as pd
import yfinance as yf
import environment
import nasdaqdatalink # this is now the quandl API

nasdaqdatalink.ApiConfig.api_key = environment.API_KEY

In [2]:
#data = nasdaqdatalink.get_table("FRED/GDP") # only get_table works, not get

In [3]:
# Download Apple stock data for the last 5 years
aapl = yf.Ticker("AAPL")
df = aapl.history(period="5y")

# Preview the data
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-04-22 00:00:00-04:00,66.399409,67.440504,66.057238,67.003685,116862400,0.0,0.0
2020-04-23 00:00:00-04:00,66.947860,68.374814,66.705181,66.744011,124814400,0.0,0.0
2020-04-24 00:00:00-04:00,67.270628,68.680592,67.222089,68.670883,126161200,0.0,0.0
2020-04-27 00:00:00-04:00,68.386930,69.051875,67.937980,68.719406,117087600,0.0,0.0
2020-04-28 00:00:00-04:00,69.182936,69.364945,67.513310,67.605522,112004800,0.0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2020-04-22 00:00:00-04:00 to 2025-04-22 00:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1257 non-null   float64
 1   High          1257 non-null   float64
 2   Low           1257 non-null   float64
 3   Close         1257 non-null   float64
 4   Volume        1257 non-null   int64
 5   Dividends     1257 non-null   float64
 6   Stock Splits  1257 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 78.6 KB

In [5]:
df.resample("A").last()

/tmp/ipykernel_19/3941829170.py:1: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  df.resample("A").last()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-12-31 00:00:00-05:00,130.966810,131.611489,128.661606,129.609085,99116600,0.0,0.0
2021-12-31 00:00:00-05:00,175.027312,176.147707,174.211584,174.516266,64062300,0.0,0.0
2022-12-31 00:00:00-05:00,126.934142,128.456435,125.965402,128.436661,77034200,0.0,0.0
2023-12-31 00:00:00-05:00,192.742785,193.239801,190.585738,191.380966,42628800,0.0,0.0
2024-12-31 00:00:00-05:00,252.162760,253.001833,249.156056,250.144974,39480700,0.0,0.0
2025-12-31 00:00:00-05:00,196.070007,201.550003,196.000000,199.750000,30327556,0.0,0.0

In [6]:
df.describe()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
count,1257.000000,1257.000000,1257.000000,1257.000000,1.257000e+03,1257.000000,1257.000000
mean,161.312650,163.134748,159.634389,161.473561,8.262163e+07,0.003644,0.003182
std,40.030788,40.323913,39.789545,40.097970,4.270935e+07,0.028734,0.112822
min,66.399409,67.440504,66.057238,66.744011,2.323470e+07,0.000000,0.000000
25%,133.135203,134.648366,131.475521,133.516235,5.319740e+07,0.000000,0.000000
50%,158.675493,160.847901,156.868198,159.155090,7.204480e+07,0.000000,0.000000
75%,185.121370,186.483225,183.110623,185.287552,9.832200e+07,0.000000,0.000000
max,257.906429,259.814335,257.347047,258.735504,3.743368e+08,0.250000,4.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2020-04-22 00:00:00-04:00 to 2025-04-22 00:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1257 non-null   float64
 1   High          1257 non-null   float64
 2   Low           1257 non-null   float64
 3   Close         1257 non-null   float64
 4   Volume        1257 non-null   int64
 5   Dividends     1257 non-null   float64
 6   Stock Splits  1257 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 78.6 KB

In [8]:
h5 = pd.HDFStore("data/data.h5", "w")
h5["data"] = df
h5.close()

In [9]:
h5.info()

"<class 'pandas.io.pytables.HDFStore'>\nFile path: data/data.h5\nFile is CLOSED"

In [10]:
h5 = pd.HDFStore('data/data.h5', 'r')
data_copy = h5['data']
data_copy.info()
h5.close()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1257 entries, 2020-04-22 00:00:00-04:00 to 2025-04-22 00:00:00-04:00
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          1257 non-null   float64
 1   High          1257 non-null   float64
 2   Low           1257 non-null   float64
 3   Close         1257 non-null   float64
 4   Volume        1257 non-null   int64
 5   Dividends     1257 non-null   float64
 6   Stock Splits  1257 non-null   float64
dtypes: float64(6), int64(1)
memory usage: 78.6 KB

In [11]:
# this apparently requires more overhead
df.to_hdf("data/data.h5", "data", format="table")
# however, we can work with it on disk as if it was a normal pytable

/tmp/ipykernel_19/3172209247.py:2: FutureWarning: Starting with pandas version 3.0 all arguments of to_hdf except for the argument 'path_or_buf' will be keyword-only.
  df.to_hdf("data/data.h5", "data", format="table")

In [13]:
import tables as tb

In [15]:
h5 = tb.open_file("data/data.h5", "r")
h5

File(filename=data/data.h5, title='', mode='r', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/data (Group) ''
/data/table (Table(1257,)) ''
  description := {
  "index": Int64Col(shape=(), dflt=0, pos=0),
  "values_block_0": Float64Col(shape=(6,), dflt=0.0, pos=1),
  "values_block_1": Int64Col(shape=(1,), dflt=0, pos=2)}
  byteorder := 'little'
  chunkshape := (1024,)
  autoindex := True
  colindexes := {
    "index": Index(6, mediumshuffle, zlib(1)).is_csi=False}

In [17]:
h5.root.data.table[:3]

array([(1587528000000000000, [66.39940915, 67.44050431, 66.05723821, 67.003685  ,  0.        ,  0.        ], [116862400]),
       (1587614400000000000, [66.94786041, 68.37481424, 66.70518139, 66.74401093,  0.        ,  0.        ], [124814400]),
       (1587700800000000000, [67.27062789, 68.68059241, 67.22208912, 68.67088318,  0.        ,  0.        ], [126161200])],
      dtype=[('index', '<i8'), ('values_block_0', '<f8', (6,)), ('values_block_1', '<i8', (1,))])

In [18]:
h5.close()

both are ways to work with immutable data that can fit into memory

In [20]:
from sample_data import generate_sample_data

This generates a sample financial data set with 2,500,000 rows and five columns with a one second frequency; the sample data is rounded to two digits.

In [21]:
%%time
data = generate_sample_data(rows=2.5e6, cols=5, freq='1s').round(4)

CPU times: user 313 ms, sys: 69.3 ms, total: 382 ms
Wall time: 385 ms

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2500000 entries, 2021-01-01 00:00:00 to 2021-01-29 22:26:39
Freq: s
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   No0     float64
 1   No1     float64
 2   No2     float64
 3   No3     float64
 4   No4     float64
dtypes: float64(5)
memory usage: 114.4 MB

In [25]:
%pip install git+https://github.com/yhilpisch/tstables

Collecting git+https://github.com/yhilpisch/tstables
  Cloning https://github.com/yhilpisch/tstables to /tmp/pip-req-build-0qclgoec
  Running command git clone --filter=blob:none --quiet https://github.com/yhilpisch/tstables /tmp/pip-req-build-0qclgoec
  Resolved https://github.com/yhilpisch/tstables to commit 920af20fe3a7bcb2ebf956c6a412f50faf037b81
  Preparing metadata (setup.py) ... done
Requirement already satisfied: tables>=3.1.1 in /opt/conda/envs/py310/lib/python3.10/site-packages (from tstables==0.0.15) (3.10.1)
Requirement already satisfied: pandas>=0.13.1 in /opt/conda/envs/py310/lib/python3.10/site-packages (from tstables==0.0.15) (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in /opt/conda/envs/py310/lib/python3.10/site-packages (from pandas>=0.13.1->tstables==0.0.15) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/envs/py310/lib/python3.10/site-packages (from pandas>=0.13.1->tstables==0.0.15) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/envs/py310/lib/python3.10/site-packages (from pandas>=0.13.1->tstables==0.0.15) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/envs/py310/lib/python3.10/site-packages (from pandas>=0.13.1->tstables==0.0.15) (2023.3)
Requirement already satisfied: numexpr>=2.6.2 in /opt/conda/envs/py310/lib/python3.10/site-packages (from tables>=3.1.1->tstables==0.0.15) (2.10.1)
Requirement already satisfied: packaging in /opt/conda/envs/py310/lib/python3.10/site-packages (from tables>=3.1.1->tstables==0.0.15) (24.2)
Requirement already satisfied: py-cpuinfo in /opt/conda/envs/py310/lib/python3.10/site-packages (from tables>=3.1.1->tstables==0.0.15) (9.0.0)
Requirement already satisfied: typing-extensions>=4.4.0 in /opt/conda/envs/py310/lib/python3.10/site-packages (from tables>=3.1.1->tstables==0.0.15) (4.12.2)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/py310/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=0.13.1->tstables==0.0.15) (1.17.0)
Building wheels for collected packages: tstables
  Building wheel for tstables (setup.py) ... done
  Created wheel for tstables: filename=tstables-0.0.15-py3-none-any.whl size=10348 sha256=8fef62fa8f31a75ba186715ca15215c1b919070d5d991e9703f3096a838af463
  Stored in directory: /tmp/pip-ephem-wheel-cache-lnzyb0ah/wheels/e5/d0/6d/8158c75995155e71b448099639be8ea6b8bb1c6e3b1e88ecd4
Successfully built tstables
Installing collected packages: tstables
Successfully installed tstables-0.0.15
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager, possibly rendering your system unusable. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv. Use the --root-user-action option if you know what you are doing and want to suppress this warning.
Note: you may need to restart the kernel to use updated packages.

In [26]:
import tstables
import tables as tb

The first column of the table is a timestamp represented as an int value.

All data columns contain float values.

In [38]:
class MyTable(tb.IsDescription):
    timestamp = tb.Int64Col(pos=0)
    no0 = tb.Float64Col(pos=1)
    no1 = tb.Float64Col(pos=2)
    no2 = tb.Float64Col(pos=3)
    no3 = tb.Float64Col(pos=4)
    no4 = tb.Float64Col(pos=5)

In [42]:
h5.close()

data is structued in years, months, days

In [ ]:
h5 = tb.open_file("data/data.h5ts", "w") # This opens a new database file for writing.
ts = h5.create_ts('/', 'data', MyTable) # The TsTables table is created at the root node, with name data and given the class-based description desc.
h5

File(filename=data/data.h5ts, title='', mode='w', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/data (Group/Timeseries) ''
/data/y2025 (Group) ''
/data/y2025/m04 (Group) ''
/data/y2025/m04/d22 (Group) ''
/data/y2025/m04/d22/ts_data (Table(0,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)

ts tables makes it easy to write this data to disk with a single call. apparently TsTables supports typical algorithmic trading applications, like backtesting, pretty well.

In [ ]:
%time ts.append(data) # appends the dataframe object

CPU times: user 183 ms, sys: 155 ms, total: 339 ms
Wall time: 584 ms

In [45]:
h5

File(filename=data/data.h5ts, title='', mode='w', root_uep='/', filters=Filters(complevel=0, shuffle=False, bitshuffle=False, fletcher32=False, least_significant_digit=None))
/ (RootGroup) ''
/data (Group/Timeseries) ''
/data/y2021 (Group) ''
/data/y2025 (Group) ''
/data/y2025/m04 (Group) ''
/data/y2025/m04/d22 (Group) ''
/data/y2025/m04/d22/ts_data (Table(0,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01 (Group) ''
/data/y2021/m01/d01 (Group) ''
/data/y2021/m01/d01/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d02 (Group) ''
/data/y2021/m01/d02/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d03 (Group) ''
/data/y2021/m01/d03/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d04 (Group) ''
/data/y2021/m01/d04/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d05 (Group) ''
/data/y2021/m01/d05/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d06 (Group) ''
/data/y2021/m01/d06/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d07 (Group) ''
/data/y2021/m01/d07/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d08 (Group) ''
/data/y2021/m01/d08/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d09 (Group) ''
/data/y2021/m01/d09/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d10 (Group) ''
/data/y2021/m01/d10/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d11 (Group) ''
/data/y2021/m01/d11/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d12 (Group) ''
/data/y2021/m01/d12/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d13 (Group) ''
/data/y2021/m01/d13/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d14 (Group) ''
/data/y2021/m01/d14/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d15 (Group) ''
/data/y2021/m01/d15/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d16 (Group) ''
/data/y2021/m01/d16/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d17 (Group) ''
/data/y2021/m01/d17/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d18 (Group) ''
/data/y2021/m01/d18/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d19 (Group) ''
/data/y2021/m01/d19/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d20 (Group) ''
/data/y2021/m01/d20/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d21 (Group) ''
/data/y2021/m01/d21/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d22 (Group) ''
/data/y2021/m01/d22/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d23 (Group) ''
/data/y2021/m01/d23/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d24 (Group) ''
/data/y2021/m01/d24/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d25 (Group) ''
/data/y2021/m01/d25/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d26 (Group) ''
/data/y2021/m01/d26/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d27 (Group) ''
/data/y2021/m01/d27/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d28 (Group) ''
/data/y2021/m01/d28/ts_data (Table(86400,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)
/data/y2021/m01/d29 (Group) ''
/data/y2021/m01/d29/ts_data (Table(80800,)) ''
  description := {
  "timestamp": Int64Col(shape=(), dflt=0, pos=0),
  "no0": Float64Col(shape=(), dflt=0.0, pos=1),
  "no1": Float64Col(shape=(), dflt=0.0, pos=2),
  "no2": Float64Col(shape=(), dflt=0.0, pos=3),
  "no3": Float64Col(shape=(), dflt=0.0, pos=4),
  "no4": Float64Col(shape=(), dflt=0.0, pos=5)}
  byteorder := 'little'
  chunkshape := (1365,)

In [48]:
import datetime
start = datetime.datetime(2021, 1, 2)
end = datetime.datetime(2021, 1, 3)

In [53]:
%time subset = ts.read_range(start, end)
subset

CPU times: user 15.3 ms, sys: 5.36 ms, total: 20.7 ms
Wall time: 17.8 ms

                          no0       no1      no2       no3       no4
2021-01-02 00:00:00   98.1395  104.7476  94.3077  100.7838  104.9974
2021-01-02 00:00:01   98.1301  104.7450  94.2960  100.7801  104.9960
2021-01-02 00:00:02   98.1139  104.7447  94.2968  100.7611  104.9890
2021-01-02 00:00:03   98.1017  104.7556  94.2972  100.7738  104.9927
2021-01-02 00:00:04   98.1122  104.7587  94.3121  100.7778  104.9872
...                       ...       ...      ...       ...       ...
2021-01-02 23:59:56  101.7577  108.1243  99.3538  101.8998  105.0772
2021-01-02 23:59:57  101.7543  108.1158  99.3473  101.8974  105.0656
2021-01-02 23:59:58  101.7467  108.1232  99.3454  101.8900  105.0501
2021-01-02 23:59:59  101.7495  108.1315  99.3472  101.9138  105.0559
2021-01-03 00:00:00  101.7515  108.1491  99.3576  101.9116  105.0567

[86401 rows x 5 columns]

In [54]:
start = datetime.datetime(2021, 1, 2, 12, 30, 0)
end = datetime.datetime(2021, 1, 5, 17, 15, 30)

In [56]:
%time subset = ts.read_range(start, end)
subset

CPU times: user 23.4 ms, sys: 1.31 ms, total: 24.7 ms
Wall time: 24.4 ms

                          no0       no1      no2       no3       no4
2021-01-02 12:30:00  101.4190  106.0834  97.6726  101.5131  106.2501
2021-01-02 12:30:01  101.4005  106.0739  97.6757  101.5124  106.2546
2021-01-02 12:30:02  101.4036  106.0700  97.6645  101.5253  106.2559
2021-01-02 12:30:03  101.4065  106.0827  97.6658  101.5387  106.2476
2021-01-02 12:30:04  101.3932  106.0795  97.6618  101.5451  106.2388
...                       ...       ...      ...       ...       ...
2021-01-05 17:15:26   96.0474  104.7090  99.6857  105.1219  100.9773
2021-01-05 17:15:27   96.0369  104.6994  99.6816  105.1361  100.9952
2021-01-05 17:15:28   96.0460  104.6805  99.6946  105.1388  100.9827
2021-01-05 17:15:29   96.0414  104.6653  99.6823  105.1194  100.9678
2021-01-05 17:15:30   96.0376  104.6600  99.6845  105.1074  100.9726

[276331 rows x 5 columns]

In [57]:
subset.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 276331 entries, 2021-01-02 12:30:00 to 2021-01-05 17:15:30
Data columns (total 5 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   no0     276331 non-null  float64
 1   no1     276331 non-null  float64
 2   no2     276331 non-null  float64
 3   no3     276331 non-null  float64
 4   no4     276331 non-null  float64
dtypes: float64(5)
memory usage: 12.6 MB

In [58]:
import sqlite3 as sq3

In [59]:
con = sq3.connect('data/data.sql')

In [60]:
%time data.to_sql('data', con)

CPU times: user 7.89 s, sys: 1.75 s, total: 9.64 s
Wall time: 13.4 s

2500000

sql much slower for this time series data than the binary hdf5 data structure. however the strength of it is that we can perform queries on data not in memory.

In [ ]:
query = 'SELECT * FROM data WHERE No1 > 105 and No2 < 108'
%time res = con.execute(query).fetchall()

CPU times: user 2.36 s, sys: 361 ms, total: 2.72 s
Wall time: 3.61 s

In [67]:
con.close()
res[:5]

[('2021-01-01 12:29:50', 97.6635, 105.0055, 97.7021, 100.5967, 102.947),
 ('2021-01-01 12:29:51', 97.654, 105.0107, 97.7026, 100.6001, 102.941),
 ('2021-01-01 12:29:52', 97.6544, 105.0057, 97.6934, 100.6102, 102.9458),
 ('2021-01-01 12:29:53', 97.6509, 105.0014, 97.6976, 100.6118, 102.9453),
 ('2021-01-01 12:29:54', 97.6521, 105.0061, 97.7025, 100.6196, 102.9603)]

while we could do the same thing with pandas, it's only really possible if the data fits in memory